.button {
    display: block;
    padding: 8px 16px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 20px);
    font-weight: var(--text-weight-strong, 600);

    line-height: 18px;
    text-align: center;

    background-color: var(--button-normal-background-color, #000000);
    border: 2px solid var(--button-normal-border-color, #000000);
    border-radius: var(--border-radius-button, 8px);

    outline: none;

    cursor: pointer;
}

.button:hover {
    background-color: var(--button-normal-background-color_hover, #3C3C3C);

    border: 2px solid var(--button-normal-background-color_hover, #3C3C3C);
}

.button_outlined {
    color: var(--button-outlined-color, #000000);

    background-color: var(--button-outlined-background-color, #FFFFFF);

    border: 2px solid var(--button-normal-border-color, #000000);
}

.button_outlined:hover {
    background-color: var(--button-outlined-background-color_hover, #EFEFEF);

    border: 2px solid var(--button-outlined-background-color_hover, #1C9C4D);
}

.button_blue {
    display: inline-block;

    color: var(--button-blue-color, #FFFFFF);
    font-size: 16px;
    font-weight: var(--text-weight-strong, 600);

    background-color: var(--button-blue-background-color, #4A90E2);

    border: 2px solid var(--button-blue-border-color, #4A90E2);
}

.button_blue:hover {
    background-color: var(--button-blue-background-color_hover, #1C9C4D);

    border: 2px solid var(--button-blue-background-color_hover, #1C9C4D);
}

.button_gray {
    display: inline-block;

    color: var(--button-dark-color, #FFFFFF);
    font-size: 16px;
    font-weight: var(--text-weight-strong, 600);

    background-color: var(--button-dark-background-color, #747474);

    border: 2px solid var(--button-dark-background-color, #747474);
    border-radius: 18px;
}

.button_gray:hover {
    background-color: var(--button-gray-background-color_hover, #EF714B);

    border: 2px solid var(--button-gray-background-color_hover, #EF714B);
}

a.button {
    text-decoration: none;
}

@media (max-width: 800px) {
    .button {
        padding: 8px 10px;

        font-size: var(--text-size-main_mobile, 14px);
        font-weight: var(--text-weight-strong, 400);
    }
}
