.block-panel {
    position: relative;
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 30px auto;
    padding: 30px 16px 16px;

    color: var(--text-color-inverted, #FFFFFF);

    text-align: center;

    background-color: var(--black-dark, #2C2C2C);

    border: 3px solid var(--black-dark, #2C2C2C);
    border-radius: var(--border-radius-panel, 10px);
}

.block-panel_transparent {
    background-color: transparent;
}

.block-panel_transparent .block-panel__title {
    margin: 10px 0 20px;

    text-align: center;
}

.block-panel_transparent .block-panel__heading-text {
    margin: 0 100px;

    font-size: inherit;
    font-weight: inherit;

    line-height: inherit;
}

.block-panel_transparent .block-panel__image {
    border-radius: var(--border-radius-panel, 10px);
}

.block-panel__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.block-panel__heading-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.block-panel__heading-content {
    padding: 15px;
}

.block-panel__title {
    margin: 0 0 20px 0;

    text-align: left;
}

.block-panel__icon_psi {
    width: 162px;
    height: 169px;
}

.block-panel__icon_rocket {
    width: 167px;
    height: 167px;
    margin-left: 10px;
}

.block-panel__title {
    margin: 0;
}

.block-panel__heading-text {
    font-size: var(--text-size-small, 16px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-small, 24px);
}

.block-panel__button {
    margin: 30px 0;
}

.block-panel__text {
    margin: 0;
}

.block-panel__image {
    margin: 0;
}

@media (max-width: 1200px) {
    .block-panel__heading-icons {
        justify-content: center;
        width: 50%;
    }

    .block-panel__heading-content {
        width: 50%;
    }

    .block-panel__icon_rocket {
        width: 252px;
        height: 252px;
    }
}

@media (max-width: 1024px) {
    .block-panel__icon_rocket {
        width: 167px;
        height: 167px;
    }

    .block-panel_transparent .block-panel__heading-text {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .block-panel {
        padding: 5px;
    }

    .block-panel__heading {
        display: block;
    }

    .block-panel__heading-icons {
        width: 100%;
        padding: 0;
    }

    .block-panel__icon_psi {
        width: 97px;
        height: 97px;
    }

    .block-panel__icon_rocket {
        width: 124px;
        height: 124px;
        margin-left: 0;
    }

    .block-panel__heading-content {
        width: 100%;
        padding: 5px;
    }

    .block-panel__title {
        font-size: 30px;

        text-align: center;
    }
}
